body.has-theme-bar {
  #header nav {
    position: fixed;
    right: 2em;
    top: 80px;
    z-index: 10000;
  }
  #menu > .close {
    top: 80px;
  }
  @media screen and (max-width: 736px) {
    #header {
      padding-top: 88px;
    }
  }
}

